<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="catClickApp" ng-controller="catCtrl">
    Cat 1: </br> <img src="Images/Cat1.jpg" alt="cat" ng-click="updateCount(1);">
  <p>Count: {{count1}}</p>
Cat 2: </br> <img src="Images/Cat2.jpg" alt="cat" ng-click="updateCount(2);">
  <p>Count: {{count2}}</p>
</div>    
</div>
    
<script>
var app = angular.module('catClickApp', []);
app.controller('catCtrl', function($scope) {
    $scope.count1= 0;
    $scope.count2= 0;
    $scope.updateCount = function(index) {
        if (index == 1) {
            $scope.count1++;
        }
        else if (index == 2) {
             $scope.count2++;
        }
        
    }
});
</script>
</body>
</html>